@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --strong-cyan: #26c0ab;
  --verydark-cyan: rgb(0, 73, 77);
  --darkgrayish-cyan: rgb(94, 122, 125);
  --grayishcyan: rgb(127, 156, 159);
  --lightgrayish-cyan: rgb(197, 228, 231);
  --verylight-grayish-cyan: rgb(244, 250, 250);
  --white: rgb(255, 255, 255);
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--lightgrayish-cyan);
}

#title-div {
  text-align: center;
  margin: 0 auto;
}

#title-text {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 24px;
  color: var(--verydark-cyan);
}

#calculator-div {
  background-color: var(--white);
  border-radius: 22px;
  margin: 0 auto;
  height: 31.25rem;
  width: 50rem;
}

@media only screen and (max-width: 48rem) {
  #calculator-div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    height: 100%;
  }
}
