@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --strong-cyan: #26c0ab;
  --verydark-cyan: rgb(0, 73, 77);
  --darkgrayish-cyan: rgb(94, 122, 125);
  --grayishcyan: rgb(127, 156, 159);
  --lightgrayish-cyan: rgb(197, 228, 231);
  --verylight-grayish-cyan: rgb(244, 250, 250);
  --white: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--lightgrayish-cyan);
}

#title-div {
  text-align: center;
  margin: 8rem;
}

#title-text {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 24px;
  color: var(--verydark-cyan);
}
