@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --strong-cyan: #26c0ab;
  --aqua-: #9ee7de;
  --verydark-cyan: rgb(0, 73, 77);
  --darkgrayish-cyan: rgb(94, 122, 125);
  --grayishcyan: rgb(127, 156, 159);
  --lightgrayish-cyan: rgb(197, 228, 231);
  --verylight-grayish-cyan: rgb(234, 247, 247);
  --white: rgb(255, 255, 255);
}

#calculation {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--lightgrayish-cyan);
}

/* Div with title */
#title-div {
  text-align: center;
  margin: 0 auto;
}

/* Title */
#title-text {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 24px;
  color: var(--verydark-cyan);
}

/* White div with items */
#calculator-div {
  background-color: var(--white);
  border-radius: 22px;
  margin: 0 auto;
  height: 25rem;
  width: 50rem;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }

  #title-text {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 24px;
    color: var(--verydark-cyan);
    margin: 0rem 0rem 0.2rem 0rem;
  }

  #calculator-div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    height: 100%;
  }
}
